:markdown
  ### Partner and Channel Specialist

  Are you a passionate marketer with impressive management skills who has
  mastered the art of building relationships and executing on exciting new projects?
  GitLab is looking for an awesome Product Marketing Manager to design, develop,
  and execute GitLab’s partner and channel marketing programs, including go-to-market
  and sustain campaigns for named industry and channel partners.

  This role includes creating and managing marketing programs for both industry
  and channel partners.

  #### Additional Responsibilities

  * Develop GitLab's partner marketing playbook to build a scalable framework that can be leveraged across new industry partnerships.
  * Work with industry partners to build strong joint marketing value propositions that fit within each company’s messaging and GTM strategies.
  * Develop strategies to implement bigger and better co-marketing campaigns with industry partners (ie. Partner blogs, webinars, ebooks, customer stories, social etc.).
  * Work closely with the Director of Strategic Partnerships to execute our vision on strategic initiatives.
  * Maintain positive and productive relationship with industry partners. Keeping in mind that sustaining partnerships is equally, if not more, important than launching them.
  * Build efficient and effective methods to work with channel partners to build channel success and pipeline, as well as provide insight into successes/losses.
  * Develop a channel marketing collateral and sales enablement toolkit to support the onboarding and sustain of our channel partners.
  * Set quarterly targets, objectives, and key results across our industry and channel marketing programs and report on progress made.

  #### Additional Requirements

  * 2-4 years experience in product marketing, preferably at an enterprise technology company
  * A proven track record for creating compelling joint positioning and messaging
  * Strong communication skills without a fear of over communication. This role will require effective collaboration and coordination across internal and external contributors
  * Extremely detail-oriented and organized, able to manage multiple projects to meet deadlines
  * BONUS: A passion and strong understanding of the industry and our mission
