:markdown

  ## Requirements

  * Proven work experience as an Accounting Manager or similar leadership role
  * Must have public company experience with SEC reporting and SOX compliance
  * Ability to contribute to the career development of staff and a culture of teamwork
  * Strong working knowledge of GAAP principles and financial statements
  * Must have experience with Netsuite
  * Proficient with excel and google sheets
  * International experience preferred.
  * Detail-oriented, self-directed and able to effectively complete tasks with minimal supervision
  * Proficiency with GitLab
  - You share our [values](/handbook/values/), and work in accordance with those values.
  - Successful completion of a background check -- see the [GitLab Code of Business Conduct and Ethics](https://ir.gitlab.com/static-files/7d8c7eb3-cb17-4d68-a607-1b7a1fa1c95d).
